.movie-page {
    font-family: Arial, sans-serif;
    background-color: #F6F1DE;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .movie-ds-content {
    display: flex;
    flex-direction: row;
    margin: 1em;
    gap: 2%;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .movie-ds-poster {
    min-width: 18%;
    border-radius: 0.8em;
    aspect-ratio: 2/3;
    background-color: #88A79D;
    background-size: cover;
    background-position: center;
  }
  
  .movie-ds-texts {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .movie-ds-title {
    margin-top: 0;
    font-size: 24px;
    color: #3E3F5B;
  }
  
  .movie-ds-description {
    border-radius: 0.8em;
    background-color: #DFE3C7;
    padding: 1em;
    flex-grow: 1;
  }
  
  .movie-ds-text {
    margin-top: 10px;
  }
  
  .button-container {
    text-align: center;
    margin: 20px;
  }
  
  .reserve-button {
    padding: 10px 20px;
    background-color: #3E3F5B;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
  }
  