  /* Main Content */
  .reservation-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1em;
    gap: 2%;
  }
  
  .movie-pr-poster {
    border-radius: 0.8em;
    width: 18%;
    aspect-ratio: 2 / 3;
    background-color: #7ba19e;
  }
  
  .reservation-info {
    width: 80%
  }
  
  .select-date {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* optional: allows wrapping on smaller screens */
    gap: 0.5rem;
  }

  .select-date p,
  .select-seats p {
    margin: 0.5rem;
  }
  
  .select-date button {
    margin: 0.25rem;
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    font-size: 0.9rem;
  }
  
  .seating-view {
    border-radius: 0.8em 0.8em 0 0;
    background-color: #c0dfb6;
    height: 200px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .legend {
    border-radius: 0 0 0.8em 0.8em;
    background-color: #a8d4a0;
    padding: 0.5rem;
    text-align: center;
  }
  
  /* Button */
  .button-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }
  
  .reserve-button {
    background-color: #3b3654;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
  }
  